*{margin: 0;padding: 0;box-sizing: border-box;list-style: none;}
body{
    background-color: #e7f2fd;
}
.nav{
    width: 80px;
    height: 100vh;
    background-color: white;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    transition: all .8s linear;
    -webkit-transition: all .8s linear;
    -moz-transition: all .8s linear;
    -ms-transition: all .8s linear;
    -o-transition: all .8s linear;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    flex-direction: column;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.open{
    width: 250px;
    align-items: flex-start;
}
.list-item{
    display: none;
}
.add{
    display: block;
}
.ad{
    display: flex;
    gap: 20px;
}
img{
    width: 40px;
    height: auto;
    cursor: pointer;
}
figure{
    border-bottom: 2px solid #c0c0c0;
    padding-bottom: 35px;
}
.menu{
    cursor: pointer;
    font-size: 25px;
    width: 46px;
    height: 37px;
}
.main,.mainmenu{
    transition: all .5s linear;
    margin: 10px 0px;
    padding: 10px 15px;
    color: #858585;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
}
.main:hover,.mainmenu:hover{
    background-color: #4070f4;
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.main:hover::after{
    content: 'Overview';
    background-color: black;
    color: white;
    position: absolute;
    top: 5px;
    left: 55px;
    border-radius: 5px;
    padding: 6px 15px;

}
.cel:hover::after{
    content: 'New';
}
.mag:hover::after{
    content: 'Build';
}
.file:hover::after{
    content: 'Projects';
}
.upload:hover::after{
    content: 'Upload';
}
.gear:hover::after{
    content: 'Settings';
}