*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    background-image: url('../images/garden.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}
.full{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: auto;
    width: 30vw;
    border: 10px groove black;
    box-shadow: 0px 0px 15px 10px whitesmoke;
}
.inputParent,.paraParent,.btnParent{
    margin: 15px;
}
#numberInput{
    width: 100%;
    border-radius: 5px;
    height: 40px;
    border: none;
    padding: 5px;
    box-shadow: 0px 0px 2px 2px white;
    font-weight: 900;
}
#numberInput:focus-visible{
    outline: none;
}
.genNumber,span{
    font-size: 25px;
    display: inline-block;
}
.btnParent{
    display: flex;
    height: 50px;
    justify-content: space-between;
}
.btnParent>button{
    padding: 0px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 5px groove black;
    font-size: 25px;
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,.7);
}
